<h1><%= @user.name %></h1>

<% if current_customer.type["User"] %>
  <%= link_to 'ユーザー情報編集',  edit_user_path %>
  <%= link_to 'Email/パスワード変更', edit_customer_registration_path %>
  <%= link_to 'DELETE', destroy_customer_session_path, method: :delete, data:{confritm: "Sign out?"} %><br />
<% end %>

Name: <%= @user.name %><br/>
Email: <%= @user.email %><br/>
TEL: <%= @user.tel %><br/>